@import "tailwindcss";

:root {
  --background: #171C1D;
  --foreground: #ffffff;

  --primary: #7ED6C2;

  --surface: #222D31;
  --surface-elevated: #2A383D;

  --my-red: #BE0101;
  --my-amber: #D47C2F;
  --my-green: #60B934;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-surface-elevated: var(--surface-elevated);
  --color-my-red: var(--my-red);
  --color-my-amber: var(--my-amber);
  --color-my-green: var(--my-green);

  --font-sans: var(--font-open-sauce), ui-sans-serif, system-ui, sans-serif;
  --font-myriad: var(--font-myriad), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}