@import "tailwindcss";

:root {
  --background: #171C1D;
  --foreground: #ffffff;

  --primary: #7ED6C2;

  --surface: #222D31;
  --surface-elevated: #2A383D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-surface-elevated: var(--surface-elevated);

  --font-sans: var(--font-open-sauce), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}